In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h3>1. How many tennis players are included in the dataset?</h3>

In [12]:
match_home_df = pd.read_parquet('../data/raw/parquets/match_home_team.parquet', engine='pyarrow', columns=['match_id', 'player_id'])
match_away_team_df = pd.read_parquet('../data/raw/parquets/match_away_team.parquet', engine='pyarrow', columns=['player_id', 'match_id'])

In [13]:
print(match_home_df.head(), '\n')
print(match_away_team_df.head())

   match_id  player_id
0  11998445     287803
1  11998446      62790
2  11998447      64580
3  11998448     131442
4  11998449      22218

   player_id  match_id
0     192013  11998445
1     273680  11998446
2      77223  11998447
3      88992  11998448
4     248846  11998449

In [14]:
print('match_home shape:', match_home_df.shape)
print('match_away shape:', match_away_team_df.shape)

match_home shape: (12389, 2)
match_away shape: (11690, 2)

In [15]:
concat_df = pd.concat([match_home_df, match_away_team_df])

In [16]:
print('Number of duplicates:', concat_df.duplicated().sum())
print('player_id nulls:', concat_df['player_id'].isnull().sum())

player_id nulls: 0

In [17]:
print('Number of unique players:', concat_df['player_id'].nunique())

Number of unique players: 2644

<h3>8. Is there a difference in the number of double faults based on gender?</h3>