In [4]:
import pandas as pd
import numpy as np

**Q.13** **********************************

In [21]:
df_away = pd.read_parquet('../data/raw/parquets/match_away_team.parquet', engine = 'pyarrow')
df_home = pd.read_parquet('../data/raw/parquets/match_home_team.parquet', engine = 'pyarrow')

df_away.head()

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11998445,Auger-Aliassime F.,auger-aliassime-felix,M,23318,"Monte Carlo, Monaco","Montreal, Canada",1.93,87.0,right-handed,2017,218538.0,10166964.0,192013,30.0,AUG,Canada,"Auger-Aliassime, Felix"
1,11998446,Cobolli F.,flavio-cobolli,M,5960,Rome,"Florence, Italy",1.83,71.0,right-handed,None,171599.0,801778.0,273680,69.0,COB,Italy,Flavio Cobolli
2,11998447,Martínez P.,martinez-pedro,M,2621,"Valencia, Spain","Alzira, Spain",1.85,76.0,right-handed,2016,39448.0,2732689.0,77223,101.0,MAR,Spain,"Martinez, Pedro"
3,11998448,Muller A.,muller-alexandre,M,2443,France,"Poissy, France",1.83,73.0,right-handed,2014,106522.0,1178035.0,88992,81.0,MUL,France,"Muller, Alexandre"
4,11998449,Mayot H.,mayot-harold,M,1492,"Marly, France","Metz, France",1.78,78.0,right-handed,None,65798.0,424547.0,248846,132.0,MAY,France,"Mayot, Harold"

In [22]:
df_home.head()

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11998445,Cazaux A.,cazaux-arthur,M,4481,None,"Montpellier, France",1.83,NaN,right-handed,None,233290.0,643582.0,287803,86.0,CAZ,France,"Cazaux, Arthur"
1,11998446,Lestienne C.,lestienne-constant,M,2034,"Paris, France","Amiens, France",1.80,72.0,right-handed,2012,98577.0,1397804.0,62790,99.0,LES,France,"Lestienne, Constant"
2,11998447,Ćorić B.,coric-borna,M,12414,"Dubai, UAE","Zagreb, Croatia",1.88,85.0,right-handed,2013,208593.0,9947986.0,64580,31.0,COR,Croatia,"Ćorić, Borna"
3,11998448,Mmoh M.,mmoh-michael,M,2206,"Bradenton, FL, USA","Riyadh, Saudi Arabia",1.88,90.0,right-handed,2016,47928.0,1775118.0,131442,122.0,MMO,USA,"Mmoh, Michael"
4,11998449,Paire B.,paire-benoit,M,6089,"Geneva, Switzerland","Avignon, France",1.96,80.0,right-handed,2007,33248.0,8622687.0,22218,110.0,PAI,France,"Paire, Benoit"

In [24]:
print(len(df_home), len(df_away))

12389 11690

In [42]:
Q_13_data = pd.concat([
    df_away[['player_id', 'plays']],
    df_home[['player_id', 'plays']]
]).drop_duplicates()

In [43]:
Q_13_data.head()

   player_id         plays
0     192013  right-handed
1     273680  right-handed
2      77223  right-handed
3      88992  right-handed
4     248846  right-handed

In [44]:
print(len(Q_13_data))

2644

In [47]:
Q_13_data.to_parquet('../data/raw/parquets/Q_13_data.parquet')